@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #DD700B;
  --color-secondary: #7C7D75;
  --color-accent-light: #FCF8D8;
  --color-accent-dark: #ADACA7;
  --color-accent-muted: #D9DADF;
  --color-bg: #FFFFFF;
}

@layer base {
  body {
    font-family: 'Bricolage Grotesque', sans-serif;
    @apply bg-white;
  }
}
